.*
build
out
classes
nbproject
bin
lib
doc
target/
!.gitignore
!.gitmodules
!.mailmap
!.gitattributes
!.travis.yml
worlds
logs
console.log
dependency-reduced-pom.xml
nb-configuration.xml
*.iml
/.idea
*.bat
/config.yml
/src/main/resources/buildNumber.properties
/timings/
