<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
  <Appenders>
    <Console name="STD_OUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd}, %d{HH:mm:ss} [%t/%level] %logger{1}: %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="warning">
      <AppenderRef ref="STD_OUT"/>
    </Root>
  </Loggers>
</Configuration>